		*{
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}

@media screen and (max-width: 704px) {
    
}



.contact {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    text-align: center;
}